.modal {
  position: fixed;
  bottom: 0px;
  background-color: white;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  padding-left: 15px;
  padding-right: 15px;
}

.overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: $overlay-grey;
}

.btn-text {
  background-color: none;
  border: none;
  color: $blue;
  display: inline-block;
}

.option {
  height: 40px;
  font-size: 20px;
  line-height: 30px;
  border: none;
  border-bottom: 1px solid $overlay-grey;
  padding: 15px;
}

.option:hover {
  background-color: $pale-grey;
}

.radio {
  width: 30px;
  height: 30px;
  margin: 0;
}
.radio:checked {
  background-color: $blue;
}

.datepicker-navbar > a {
  font-size: 1.5rem;
}

.datepicker.ios .datepicker-navbar-btn {
  color: $blue;
}

.datepicker.ios .datepicker-content {
  padding-top: 60px;
}
