.navbar {
  height: 72px;
  background-color: black;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar > p {
  font-size: 20px;
  font-family: "Mont-Bold";
  line-height: 24px;
}

.logo {
  height: 18px;
  position: absolute;
  left: 72px;
}
