@import './base/base';
@import './components/navbar';
@import './components/container';
@import './components/form';
@import './components/modal';

body {
  margin: 0;
  padding: 0;
  font-family: "Mont-Regular";
}


