// font family
@font-face {
  font-family: "Mont-Regular";
  src: url("/assets/fonts/Mont-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Mont-Bold";
  src: url("/assets/fonts/Mont-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Mont-SemiBold";
  src: url("/assets/fonts/Mont-SemiBold.otf") format("opentype");
}

// colors
$blue: #64c8fa; // button, title
$pale-grey:#dedede; // for the underline in the form
$light-grey: #b2b2b2; // for the placeholder in the form
$overlay-grey: rgba(0, 0, 0, 0.6); // for the overlay of modal
